%h2.text-center Step 2/3 : Preview your ad
%hr
= render 'show'
.row
  .large-16.small-centered.columns
    = link_to "Looks awesome! Go to Step 3", publish_job_path(token: @job.token), class: "button radius"
    or
    = link_to "Make changes", new_job_path(token: @job.token)