%h2.text-center Step 3/3 : Let's go live!
%hr
.row
  .large-8.small-centered.columns
    %p This is it. There is no step 3! 
    %p
      Just push the button to publish your ad on the job board. It will stay 
      %strong online for 42 days
      before being removed. You can always republish it if you need it ; )
    = form_for(@job, url: new_job_path( token: @job.token ), html: {method: "patch"}) do |f|
      = f.hidden_field :published, value: true
      = f.submit value: "Publish", class: "button radius success"
      or
      = link_to "Make changes", new_job_path(token: @job.token)