<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <strong>Congratulation !</strong>
    <p>
      You created a new job that makesense.<br/>
      This job will self-destruct from our platform in 42 days. Your mission, should you decide to accept it, is to gather the best candidates to fulfill the mission.<br/>
      Good luck.
    </p>

    <strong>[Jobs.MakeSense]</strong>
    <h1><%= @title %></h1>

    <strong>1. Edit your ad</strong>
    <p>
      You can edit or publish your job ad at any time with the secret link below.<br/>
      Don't share this secret link with untrusted people! (or bad things will happen to your karma)<br/>
      Please note that editing your ad won't reset the 42 days period.<br/>
      <%= @edit_url %>
    </p>

    <strong>2. Promote your ad</strong>
    <p>
      <%= @company.empty? ? "Are you" : "#{@company.capitalize} is" %> looking for the perfect match?<br/>
      Then share this link in your network to reach him/her.<br/>
      <%= @job_url %>
    </p>

    <p>Thank you for creating a job and have a great day!</p>
    <p>~ Emilien</p>
    <a href='http://dev-mksjobs.herokuapp.com'>[Jobs.MakeSense]</a>
  </body>
</html>
