%h1.text-center Oops !
%p.text-center 
  It seems the job you are looking for is no longer vacant.
  %br
  Don't be sad new jobs are posted almost every day on
  = link_to "Jobs that MakeSense.", root_url
