config: &config
  adapter: postgresql
  encoding: unicode
  username: makesense
  password:
  pool: 5

development:
  database: mksjobs_dev
  <<: *config

test:
  database: mksjobs_test
  <<: *config

