/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
@import "foundation_and_overrides";

.logo {
  width: 200px;
  margin-bottom: 1.8rem;
  margin-top: .4rem;
}
.bar {
  padding: 20px 5px 0;
  .root {
    font-size: 250%;
    font-weight: 800;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }
}
.footer {
  background-color: #666666;
  min-height: 250px;
  padding: 1.8rem 0;
  margin-top: 2rem;
  p {
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 110%;
  }
  a {
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    color: #DEDEDE;
    &:hover {
      color: #FAFAFA;
    }
  }
}