// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Apply to the INDEX
.job-list {
  .row {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    .date {
      color: rgb(120, 120, 120);
    }
    p {
      font-size: 1.16rem;
      margin: 0px;
    }
  }
  .highlighted {
    background-color: #CFF3FF;
  }
}

.logo {
  width: 200px;
  margin-bottom: 1.8rem;
  margin-top: .4rem;
}
.bar {
  padding: 20px 5px 0;
  .root {
    font-size: 250%;
    font-weight: 400;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }
}
.tagline {
  font-weight: 300;
}
.footer {
  background-color: #666666;
  min-height: 250px;
  padding: 1.8rem 0;
  margin-top: 2rem;
  color: #DEDEDE;
  h4 {
    color: #DEDEDE;
    font-weight: 800;
  }
  p {
    font-size: 110%;
  }
  a {
    color: #DEDEDE;
    font-weight: bold;
    &:hover {
      color: #FAFAFA;
    }
  }
}

// Job Show
.catchy {
  font-weight: 800;
}
.company * {
  margin-bottom: 0;
  h3 {
    font-weight: 800;
  }
}

.job-logo-small {
  margin: auto;
}

.job-logo {
  margin-top: 1.5rem;
}

.job-offer {
  line-height: 1.6;
  margin-bottom: rem-calc(20);
  p {
    margin-top: rem-calc(10);
  }
  li {
    margin-left: rem-calc(20);
    margin-bottom: rem-calc(10);
  }
}
.share {
  margin-top: 1.5rem;
  .twitter {
    $twitter-color: #5BB9E6;
    background-color: $twitter-color;
    &:hover {
      background-color: lighten($twitter-color, 10%);
    }
  }
  .facebook {
    $fb-color: #4064B2;
    background-color: $fb-color;
    &:hover {
      background-color: lighten($fb-color, 10%);
    }
  }
}

// Apply to the FORM
#job_description, .wysihtml5-sandbox {
  min-height: 280px;
}

#job_apply {
  min-height: 80px;
}

label {
  font-weight: 800;
}

#wysihtml5-toolbar {
  margin: 20px auto;
  
  .wysihtml5-dialog {
    margin-top: 10px;
    input {
      width: 80%;
    }
  }
}
